	pushi 0
	pushi 0
	pushi 0
	pushi 0
jump inic
start
inic: 	read
	atoi
	storeg 0
	read
	atoi
	storeg 1
label1: 	pushg 3
	pushg 0
	inf
	jz label2
	pushg 1
	pushi 2
	mod
	pushi 0
	equal
pushi 1
inf
	jz label0
	pushg 1
	writei
	pushg 2
	pushi 1
	add
	storeg 2
label0: 	pushg 3
	pushi 1
	add
	storeg 3
jump label1
label2: 	pushg 2
	writei
stop
