	pushi 0
	pushi 0
	pushi 0
	pushi 0
jump inic
start
inic: 	read
	atoi
	storeg 0
	read
	atoi
	storeg 1
	read
	atoi
	storeg 2
	read
	atoi
	storeg 3
	pushg 0
	pushg 1
	equal
	pushg 0
	add
	pushi 2
	equal
	pushg 2
	equal
	pushg 0
	add
	pushi 2
	equal
	pushg 3
	equal
	jz label0
	pushs "Verdadeiro"
	writes
jump label1
label0: 	pushs "Falso"
	writes
label1: stop
